<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consuming API</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("http://localhost:8081/products", function (result) {
                $.each(result, function (key, value) {
                    $("#data").append('<tr><td headers="id">' + value.id + '</td><td headers="name">' + value.name + '</td><td headers="delete"><button>Delete</button></td></tr>');
                });
            });

        });
    </script>
</head>

<body>
    <table>
        <caption>Products</caption>
        <thead>
            <tr>
                <th id="id">ID</th>
                <th id="name">Name</th>
                <th id="delete">Delete</th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
</body>

</html>